Invalid Bundle Config results in Broken Pipe

Sorry I'm being a pain in this project at the moment!

When running conduct load <bundle> you are met with a Broken Pipe on *Nix

> Error: Reason: ('Connection aborted.', BrokenPipeError(32, 'Broken pipe'))

and Socket connection refused on Windows

> Error: Reason: ('Connection aborted.', ConnectionAbortedError(10053, 'An established connection was aborted by the software in your host machine', None, 10053, None))

I've spent a reasonable amount of time trying to work out why this is the case and come to the conclusion that it's an issue with how the conductr service responds to requests. When sending a request to conductr it seems to do validation on the bundle configuration file before accepting and processing the file data. If the bundle configuration file is invalid it returns an error before continuing to the file data.

In the normal world this would be acceptable (RFC 2616 Section 8.2.2) however it would seem that the python requests library does not support this flow and instead bombs out with an unhelpful error.

May I suggest adding a bundle configuration checking endpoint to the conductr service that is requested before the full multipart upload?

Also interestingly enough the broken bundle configuration happens when I use BundleKeys.endpoints in the 2.0.x manner because the "services" key is missing in the generated bundle.conf

> BundleKeys.endpoints := Map("backoffice-public-api" -> Endpoint("http", 9000, "backoffice-public-api", RequestAcl(Http("^/backoffice".r)))),

Thanks for the info. A point of reference for you: https://github.com/kennethreitz/requests/issues/2422#issuecomment-258338728

One thing we will be doing is providing a `bundle` tool to create valid config. This should at least mitigate the issue. 

I thought someone would be ahead of me! I'll keep an eye on the requests lib and understand there's not a massive amount you guys can do about the oversight in requests until that package is fixed!

Closing.